<h1>
    <p style="color:blue; text-align:center; border:2px solid Tomato; font-size:180%;">
        <i>
Python Tutorials
        </i>
    </p>
</h1>

Author: **Sahil Ansari**

<img src="https://digifine.in/img/digifine.png" alt="Qries" width="200" height="90">
   </body>
   
**Website**: www.digifine.in

**Address**: Office Number - 11, 3rd Floor, Kanti Mahal, Opp. Criti Care Hospital, Teli Gali, Andheri East, Mumbai - 400069

**Contact**: +91-730-4862-014

# Introduction

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:
* data science, machine learning & AI.
* web development (server-side),
* software development,
* mathematics.

Advantages:
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

# Data Type

### Built-in Data Types

|Category|Type|
|--|--|
|Text |str|
|Numeric |int, float|
|Sequence|list, tuple, range|
|Mapping|dict|
|Set|set|
|Boolean(True/Flase)|bool|
 <br>

### Example

* str: <br>
x = "Hello World" <br> <br>

* int: <br>
x = 20 <br> <br>

* float: <br>
x = 20.5 <br> <br>

* list: <br>
x = ["apple", "banana", "cherry"] <br> <br>

* tuple: <br>
x = ("apple", "banana", "cherry") <br> <br>

* dict: <br> <br>
x = {"name" : "John", "age" : 36} <br> <br>

* set: <br>
x = {"apple", "banana", "cherry"} <br> <br>

* range: <br>
x = range(6) <br> <br>

* bool: <br>
x = True <br>

**Difference between: List, Tuple, Set, Dictionary**<br>

|Data Structure|Ordered|Mutable|Constructor|Example|
|--------------|-------|-------|-----------|-------|
|List|Yes|Yes|[ ] or list()|[5.7, 4, 'yes']|
|Tuple|Yes|No|( ) or tuple()|(5.7, 4, 'yes')|
|Set|No|Yes|{ } or set()|{5.7, 4, 'yes'}|
|Dictionary|No|Yes|{ } or dict()|{'Jan':75, 'Feb':100}|<br>

In [1]:
# Ordered = Index
# Mutable = Modify

In [2]:
x = ["digifine", 20, 22.5]
print(x[-1])

22.5

In [3]:
x[-1] = 'abcd'
print(x)

['digifine', 20, 'abcd']

In [4]:
dict = {'key':'value', 'name':'sahil', 'age':18}

In [5]:
dict['name']

'sahil'

In [6]:
dict['name'] = 'Digifine'
print(dict)

{'key': 'value', 'name': 'Digifine', 'age': 18}

In [7]:
dict['name']  # here 'name' is KEY, 'sahil' is value

'Digifine'

In [8]:
dict['age'] # here 'age' is KEY, 18 is value

18

In [9]:
# casting
list1 = ["digifine", 20, 22.5, "digifine"]
set1 = set(list1)       # duplicate or repeated values are eliminated.
set1

{20, 22.5, 'digifine'}

In [10]:
tup1 = ("digifine", 20, 22.5)

print(tup1[-1])

22.5

In [11]:
tup1[-1] = 'abcd'

TypeError: 'tuple' object does not support item assignment

### Getting the Data Type
You can get the data type of any object by using the type() function:

In [ ]:
# Example:

x = 5
print(x)
type(x)

In [12]:
x = 'Sahil'

print(type(x))

<class 'str'>

In [13]:
x = 1    # int
y = 2.8  # float

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [14]:
# Integers:

x = 1   # int
y = 35656222554887711  # int
z = -3255522  # int (+/-)

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
# Float: (decimal point)

x = 1.10 #float
y = 1.0 #float
z = -35.59 #float(+/-)

print(type(x))

<class 'float'>

In [16]:
# Floats: (e,E)

x = 35e3 #35 * 10^3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Casting

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [17]:
# Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [18]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [19]:
type(int(2.8))

int

In [20]:
# Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [21]:
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [22]:
x = 5.5
type(x)

float

In [23]:
# method 1:
x = int(5.5)
type(x)

int

In [24]:
# method 2:
x = int(x)
type(x)

int

In [25]:
# Strings:

x = str("s1") # x will be 's1'  ////////// s1 is str
y = str(2)    # y will be '2'  ////////////  2 is int
z = str(3.0)  # z will be '3.0'    ////////////  3.0 is float

In [26]:
type(y)

str

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [27]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [28]:
a = "Hello"
print(a)

Hello

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [29]:
a = "Hello, World!"    # "0,1,2,3,4,5,.......-2 ,-1"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[12])
print('==================')
print(a[-1])
print(a[-2])

H
e
l
l
o
!
==================
!
d

In [30]:
print(a[13])

IndexError: string index out of range

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [31]:
for x in "banana":   # interation=cycle
  print(x)        # x='b',x='a',x='n',x='a',x='n',x='a'

b
a
n
a
n
a

In [32]:
x = 'banana'
print(x[-6])
print(x[-5])
print(x[-4])
print(x[-3])
print(x[-2])
print(x[-1])

b
a
n
a
n
a

### String Length
To get the length of a string, use the len() function.

In [33]:
a = "Hello, World!"
lenght = len(a)
print(lenght)

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [34]:
# Question: is "free" is present in a given txt
txt = "The best things in life are free!"
print("best" in txt)

True

In [35]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [36]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [37]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

# Slicing Strings

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [38]:
# Example
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"    
#    01234567889
print(b[2:5])  # b[start:end] ==> start(included), end(not included)

llo

In [39]:
b[2:5]

'llo'

In [40]:
b[0:-2]

'Hello, Worl'

In [41]:
b[7:12]

'World'

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [42]:
# Example
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[0:5])
print(b[:5])

Hello
Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [43]:
# Example
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [44]:
################################# 20 May, 2021

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [45]:
# Example
# Get the characters:
# From: "o" in "World!" (position -5)
# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"   # "0,1,2,3,4,5,.......-2 ,-1"
#    01234567889
print(b[-5:-2])

orl

# Modify Strings

Python has a set of built-in methods that you can use on strings.

### Upper Case

In [46]:
# Example
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [47]:
# Example
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [48]:
# Example
# The strip() method removes any whitespace from the beginning or the end:

a = "             Hello, World!           "
print(a.strip()) # returns "Hello, World!"
print(a)         # # returns "             Hello, World!           "

Hello, World!
             Hello, World!

In [49]:
a = "             Hello, World!           "
a = a.strip()      # a = "Hello, World!"

print(a.strip()) # returns "Hello, World!"
print(a)         # returns "Hello, World!"

Hello, World!
Hello, World!

### Replace String

In [50]:
# Example
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))     # var_name.replace("original_value", "new_value")

Jello, World!

In [51]:
# Question: replace 'Cat' with 'Dog'

x = 'The Cat is on the mat.'
print(x)

x.replace('Cat', 'Dog') 
print(x)

x = x.replace('Cat', 'Dog') 
print(x)

The Cat is on the mat.
The Cat is on the mat.
The Dog is on the mat.

### Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [52]:
# Example
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

print(a.split("o"))

print(a.split())   # using whitespace as aseperation point.

['Hello', ' World!']
['Hell', ', W', 'rld!']
['Hello,', 'World!']

In [53]:
x = "With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. "
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

In [54]:
x = 'With the pandemic\'s prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. '
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

In [55]:
var = 1
1var = 1

SyntaxError: invalid syntax (<ipython-input-55-013afe99d949>, line 2)

In [56]:
var = 1
var1 = 1

In [57]:
x = "With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. "
print(x,'\n')       # '\n' ==> new line

x = x.split()       # using whitespace as aseperation point.
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

['With', 'the', "pandemic's", 'prolonged', 'presence', 'bringing', 'in', 'new', 'challenges', 'to', 'professionals', 'as', 'work', 'patterns', 'have', 'changed,', 'Bombay', 'Bar', 'Association', 'tied', 'up', 'with', 'Kaivalyadham', 'to', 'bring', 'in', 'a', 'two-day', 'online', 'workshop', 'for', 'lawyers', 'on', 'May', '22-23.']

In [58]:
x = 'With the pandemic\'s prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.'
print(x,'\n')   

x = x.split('t')       # using 't' as aseperation point.
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

['Wi', 'h ', "he pandemic's prolonged presence bringing in new challenges ", 'o professionals as work pa', '', 'erns have changed, Bombay Bar Associa', 'ion ', 'ied up wi', 'h Kaivalyadham ', 'o bring in a ', 'wo-day online workshop for lawyers on May 22-23.']

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [59]:
# Example
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [60]:
# Example
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [61]:
x = 'MODI'
c = x + 'is PM.'
print(c)

MODIis PM.

In [62]:
x = 'MODI'
c = x + ' is PM.'
print(c)

MODI is PM.

In [63]:
x = 'MODI'

print(x + "is PM.")

MODIis PM.

##################################################  **Date: 22 May**  #########################

# Format - Strings

In [64]:
# Example 
# we cannot combine strings and numbers like this:

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [65]:
# Example
# Use the format() method to insert numbers into strings:

age = 18
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 18

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [66]:
# Example

quantity = 7
itemno = 567
price = 79.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 7 pieces of item 567 for 79.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [67]:
# Example

quantity = 'three'   # str
itemno = 567        # int
price = 49.95       # decimal
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for three pieces of item 567.

In [68]:
print('Boolean data are {} or False'.format(True))        # bool

Boolean data are True or False

# Escape Characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [69]:
# Example
# You will get an error if you use double quotes inside a string 
# that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-69-a723972664ce>, line 5)

To fix this problem, use the escape character \":

In [70]:
# Example
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [71]:
txt = 'We are the so-called "Vikings" from the north.'
print(txt)

txt = "We are the so-called 'Vikings' from the north."
print(txt)

We are the so-called "Vikings" from the north.
We are the so-called 'Vikings' from the north.

In [72]:
# Note: \n   ==>  New Line

# Example

txt = "Hello\nWorld!"
print(txt)

Hello
World!

# String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

### capitalize() ==> Converts the first character to upper case

In [73]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

txt2 = "36 is my age."
y = txt2.capitalize()
print (y)

Hello, and welcome to my world.
36 is my age.

### count() ==> Returns the number of times a specified value occurs in a string

In [74]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

y = "I love apples, apple are my favorite fruit".count('apple')
print(y)

2
2

**Syntax:**<br>
 string.count(value, start, end)
<br>

|Parameter| Description|
|--|--|
|value|	Required. A String. The string to value to search for|
|start|	Optional. An Integer. The position to start the search. Default is 0|
|end|	Optional. An Integer. The position to end the search. Default is the end of the string|<br>

In [75]:
# Example
# Search from position 10 to 24:

txt = "I love apples, apple are my favorite fruit"
#      0123456789
x = txt.count("apple", 10, 24)
print(x)

1

In [76]:
# Example

print('Today is a good day'.count('day',0 ,4 ))   # Day is not day

print('Today is a good day'.count('day',0 ,5 )) 

print('Today is a good day'.count('day'))

0
1
2

### find() ==> Searches the string for a specified value and returns the position of where it was found

In [77]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")    # i want to find the position of 'welcome' in the given text
print(x)

7

**Definition and Usage**<br>
The find() method finds the first occurrence of the specified value.<br>

The find() method returns -1 if the value is not found.<br>

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)<br>

**Syntax**<br>
string.find(value, start, end)<br>

|Parameter|	Description|
|-|-|
|value|	Required. The value to search for|
|start|	Optional. Where to start the search. Default is 0|
|end|	Optional. Where to end the search. Default is to the end of the string|

In [78]:
# Example
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [79]:
# Example
# Where in the text is the first occurrence of the letter "e" when you only search 
# between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [80]:
# Example
# Where in the text is the first occurrence of the letter "e" when you only search 
# between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [81]:
# Example
# If the value is not found, the find() method returns -1, 
# but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print('='*20)
print(txt.index("q"))

-1
====================

ValueError: substring not found

### format() ==>Formats specified values in a string

In [82]:
# Example - Multiple methods.  # format() & count():

txt = 'Today is a good day.'
word_count = 'day'
times = txt.count(word_count)   # 2

print("The given txt is having '{}' {} times".format(word_count,times))

The given txt is having 'day' 2 times

In [83]:
# Example
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49.1234))

txt1 = "For only {price:.2f} dollars!"
print(txt1.format(price = 49))

For only 49.12 dollars!
For only 49.00 dollars!

**Definition and Usage** <br>
The format() method formats the specified value(s) and insert them inside the string's placeholder.<br>

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.<br>

The format() method returns the formatted string.<br>

**Syntax**<br>
string.format(value1, value2...)<br>

**The Placeholders**
The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

In [84]:
# Example
# Using different placeholder values:

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

### index() ==> Searches the string for a specified value and returns the position of where it was found

In [85]:
# Example
# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

**Definition and Usage** <br>
The index() method finds the first occurrence of the specified value. <br>

The index() method raises an exception if the value is not found. <br>

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below) <br>

**Syntax** <br>
string.index(value, start, end) <br>

|Parameter|	Description|
|-|-|
|value|	Required. The value to search for|
|start|	Optional. Where to start the search. Default is 0|
|end|	Optional. Where to end the search. Default is to the end of the string| <br>

In [86]:
# Example
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
x = txt.index("e")
print(x)

1

In [87]:
# Example
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [88]:
# Example
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

### join() ==> Join all items in a tuple into a string.

In [89]:
# Example
# Join all items in a tuple into a string, using a hash character as separator:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)        # "#" is a seperator.
print(x)

John#Peter#Vicky

In [90]:
# Example
# Join all items in a tuple into a string, using a hash character as separator:
myTuple = ("John", "Peter", "Vicky")
x = "".join(myTuple)        # "" is a seperator.
print(x)
print(type(x))

JohnPeterVicky
<class 'str'>

In [91]:
# Example
# Join all items in a dictionary into a string, using a the word "TEST" as separator:

myDict = {"name": "John", "country": "Norway", 'Age':36}
mySeparator = "-----"
x = mySeparator.join(myDict)    # x = '-----'.join(myDict)
print(x)

name-----country-----Age

In [92]:
################################## 25th May ######################################

### replace()

In [93]:
# Example
# Replace the word "bananas":
    
txt = "I like bananas. But bananas are yellow. bananas are tasty."
x = txt.replace("bananas", "apples")
print(x)

I like apples. But apples are yellow. apples are tasty.

In [94]:
txt = "I like bananas. But bananas are yellow. bananas are tasty."
x = txt.replace("bananas", "apples", 1)
print(x)

I like apples. But bananas are yellow. bananas are tasty.

**Definition and Usage**<br>
The replace() method replaces a specified phrase with another specified phrase.<br>

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.<br>

**Syntax**<br>
string.replace(oldvalue, newvalue, count)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|oldvalue|	Required. The string to search for|
|newvalue|	Required. The string to replace the old value with|
|count|	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences|

In [95]:
# Example
# Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [96]:
# Example
# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

### split()

In [97]:
#Example
# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

**Definition and Usage** <br>
The split() method splits a string into a list.<br>

You can specify the separator, default separator is any whitespace.<br>

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.<br>

**Syntax**<br>
string.split(separator, maxsplit)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|separator|	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator|
|maxsplit|	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"| <br>

In [98]:
# Example
# Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [99]:
# Example
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [100]:
# Example
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [101]:
# Queston: split between banana and cherry

txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)
list = ['#'.join(x[0:2]), '#'.join(x[2:])]
print(list)

['apple', 'banana', 'cherry', 'orange']
['apple#banana', 'cherry#orange']

In [102]:
print(x[0:2])
print(x[2:])

['apple', 'banana']
['cherry', 'orange']

In [103]:
# Queston: split between banana and cherry

txt = "apple#banana#cherry#orange"
x = txt.split("#",1)
print(x)
y = x[1].split('#',1)
print(y)
list = []
print(list)
elem1 = '#'.join(   [   x[0]    ,    y[0]    ]      )   # list # ['apple', 'banana']  = apple#banana
list.append(elem1)    # 1st element added
print(list)
list.append(y[1])    # # 2st element added
print(list)

['apple', 'banana#cherry#orange']
['banana', 'cherry#orange']
[]
['apple#banana']
['apple#banana', 'cherry#orange']

### strip() ==> Remove spaces at the beginning and at the end of the string

In [104]:
# Example

txt = "     banana     "
x = txt.strip()   # x = banana 
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

**Definition and Usage** <br>
The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)<br>

**Syntax**<br>
string.strip(characters)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|characters|	Optional. A set of characters to remove as leading/trailing characters|

In [105]:
# Example
# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")       # x = "banana"
print(x)

banana

# Booleans

Booleans represent one of two values: True or False.

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [106]:
# Example
print(10 > 9)   # true or false
print(10 == 9)
print(10 < 9)

True
False
False

In [107]:
# When you run a condition in an if statement, Python returns True or False:

# Example
# Print a message based on whether the condition is True or False:

a = 200
b = 33

if (b > a):                          # if (condition) -- b>q--33>200--False # if False
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [108]:
330000000>200

True

In [109]:
# Evaluate Values and Variables
# The bool() function allows you to evaluate any value, and give you True or False in return,

# Example
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [110]:
# Example
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Operators
Operators are used to perform operations on variables and values.

In [111]:
# Example
# In the example below, we use the + operator to add together two values:

print(10 + 5 + 20)

35

Python divides the operators in the following groups:

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

**Python Arithmetic Operators** <br>
Arithmetic operators are used with numeric values to perform common mathematical operations:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/1.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [112]:
x = 5
y = 3

print(x + y)

8

In [113]:
x = 5
y = 3

print(x - y)

2

In [114]:
x = 5
y = 3

print(x * y)   # 5 * 3 = 15

15

In [115]:
x = 12
y = 3

print(x / y)  # 12/3 = 4

4.0

In [116]:
x = 5
y = 2

print(x % y)  # 5/2 ===> remainder

1

In [117]:
x = 2
y = 5

print(x ** y)   # 2 ** 5                        #same as 2*2*2*2*2

32

In [118]:
x = 15
y = 2
                       # 15/2 = 7.5 ~ 7
print(x // y)   # 15 // 2

#the floor division // rounds the result down to the nearest whole number

7

**Python Assignment Operators** <br>
Assignment operators are used to assign values to variables:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/2.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [119]:
x = 5

print(x)

5

In [120]:
x = 5      # old_value

x += 3    # x = old_value + 3  = 5+3 = 8

print(x)

8

In [121]:
x = 5      # old_value

x -= 3    # x = old_value - 3   = 5-3 = 2

print(x)

2

In [122]:
x = 5     # old_value

x *= 3     # x = old_value * 3   = 5*3 = 15

print(x)

15

In [123]:
x = 5         # old_value

x /= 3     # x = old_value / 3   = 5/3 = 1.6666666666666667

print(x)

1.6666666666666667

In [124]:
x = 5          # old_value

x %= 3        # x = old_value % 3   = 5 % 3 = 2

print(x)

2

In [125]:
x = 5           # old_value

x //= 3        # x = old_value // 3   = 5 // 3 = 1
                # 5/3 = 1.6666666666666667 ~ 1
print(x)

1

In [126]:
x = 5

x **= 3    # x = old_value ** 3   = 5**3 = 5*5*5 = 125

print(x)

125

**Python Comparison Operators** <br>
Comparison operators are used to compare two values:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/3.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [127]:
x = 5
y = 3

print(x == y)   # x == y  is not same as x = y

# returns False because 5 is not equal to 3

False

In [128]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [129]:
############################# 27 May ##########################################

In [130]:
x = 5
y = 3

print(x > y)  # x greater than y

# returns True because 5 is greater than 3

True

In [131]:
x = 5
y = 3

print(x < y)  # x less than y

# returns False because 5 is not less than 3

False

In [132]:
x = 5
y = 3

print(x >= y)  # x greater or equal than y #1. x>y   #2.  x=y
print(x > y or x == y)
# returns True because five is greater, or equal, to 3

True
True

In [133]:
x = 5
y = 3

print(x <= y)  # x less or equal than y #1. x<y   #2.  x=y
print(x < y or x == y)
# returns False because 5 is neither less than or equal to 3

False
False

**Python Logical Operators**<br>
Logical operators are used to combine conditional statements:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/4.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [134]:
x = 5

print(x > 3 and x < 10)   # true if both condition is true.

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [135]:
x = 5

print(x > 3 or x < 4)  # true is any one condition is true.

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [136]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**Python Identity Operators**<br>
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/5.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [137]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(z)
print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": 
# this comparison returns True because x is equal to y

['apple', 'banana']
True
False
True

In [138]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": 
# this comparison returns False because x is equal to y

False
True
False

**Python Membership Operators**<br>
Membership operators are used to test if a sequence is presented in an object:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/6.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [139]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [140]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Lists

mylist = ["apple", "banana", "cherry"]

**List**
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [141]:
# Example
# Create a List:

thislist = ["apple", "banana", "cherry", "apple", 55, 68.9]
print(type(thislist))

print(thislist[-1])

thislist[-1] = 100.99
print(thislist)

<class 'list'>
68.9
['apple', 'banana', 'cherry', 'apple', 55, 100.99]

**List Items**<br>
List items are ordered, mutable(changeable), and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**<br>
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.
<br><br>
**Changeable**<br>
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**<br>
Since lists are indexed, lists can have items with the same value:

In [142]:
# Example
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [143]:
# List Length
# To determine how many items a list has, use the len() function:

# Example
# Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [144]:
# Question: write a code to find the number of element in the given string/ text.

x = "Hello"

print(len(x))

5

In [145]:
# List Items - Data Types
# List items can be of any data type:

# Example
# String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [146]:
# A list can contain different data types:

# Example
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40.76, "male"]

In [147]:
# type()
# From Python's perspective, lists are defined as objects with the data type 'list':

# <class 'list'>
# Example
# What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

########################  29 May ####################

In [153]:
del list   # deleting previously defined variable named 'list'.

# Note: This code will give NameError if :
# (1) we have not previously defined any variable named 'list'.
# (2) we have already deleted the previously defined variable named 'list'.

NameError: name 'list' is not defined

In [2]:
# The list() Constructor
# It is also possible to use the list() constructor when creating a new list.

# Example
# Using the list() constructor to make a List:

thislist = list(      ("apple", "banana", "cherry")   ) # note the double round-brackets
                     # tuple inside list constructor
print(thislist)

['apple', 'banana', 'cherry']

In [156]:
abcd = list('abcd')

print(abcd)

['a', 'b', 'c', 'd']

### Access List Items

In [3]:
# Access Items
# List items are indexed and you can access them by referring to the index number:

# Example
# Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Note: The first item has index 0.

**Negative Indexing**<br>
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [4]:
# Example
# Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**<br>
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [5]:
# Example
# Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [9]:
# Example
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
print(thislist[0:4])

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

In [13]:
# By leaving out the end value, the range will go on to the end of the list:

# Example
# This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
# Range of Negative Indexes
# Specify negative indexes if you want to start the search from the end of the list:

# Example
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [21]:
# Check if Item Exists
# To determine if a specified item is present in a list use the in keyword:

# Example
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### Change List Items

**Change Item Value**<br>
To change the value of a specific item, refer to the index number:

In [34]:
# Example
# Change the second item:

thislist = ["apple", "banana", "cherry"]
#            0           1        2
#           -3          -2        -1


thislist[1] = 'tomato'
print(thislist)

['apple', 'tomato', 'cherry']

**Change a Range of Item Values**<br>
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [43]:
# Example
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thislist[1:3])

thislist[1:3] = ["blackcurrant", 'watermelon']
print(thislist)

['banana', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [36]:
# Example
# change 1st & last element of list:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[0] = 'first'
thislist[-1] = 'last'
print(thislist)

['first', 'banana', 'cherry', 'orange', 'kiwi', 'last']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [49]:
# Example
# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]   #~~~~~~
print(thislist[1:2])
print(thislist[1])
print(thislist)
print('\n')     # new line

thislist[1:2] = ["blackcurrant", "watermelon"]   #~~~~~~

print(thislist[1:2])
print(thislist[1])
print(thislist)   #~~~~~~

['banana']
banana
['apple', 'banana', 'cherry']


['blackcurrant']
blackcurrant
['apple', 'blackcurrant', 'watermelon', 'cherry']

In [50]:
# Example
# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
print(thislist[1:2])
print(thislist[1])
print(thislist)
print('\n')     # new line

thislist[1] = ["blackcurrant", "watermelon"]

print(thislist[1:2])
print(thislist[1])
print(thislist)

['banana']
banana
['apple', 'banana', 'cherry']


[['blackcurrant', 'watermelon']]
['blackcurrant', 'watermelon']
['apple', ['blackcurrant', 'watermelon'], 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [53]:
# Example
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

**Insert Items**<br>
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [54]:
# Example
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Note: As a result of the example above, the list will now contain 4 items.

### Add List Items

**Append Items**<br>
To add an item to the **end of the list** , use the append() method:

In [60]:
# Example
# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")                          # append = add
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**<br>
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [63]:
# Example
# Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Note: As a result of the examples above, the lists will now contain 4 items.

**Extend List**<br>
To append elements from another list to the current list, use the extend() method.

In [66]:
# Example
# Add the elements of list_2 to list_1:

list_1 = ["apple", "banana", "cherry"]
list_2 = ["mango", "pineapple", "papaya"]

list_1.extend(list_2)     # extent --> list_1 = list_1 + list_2

print(list_1)
print(list_2)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya']

In [70]:
# Example
# Add the elements of list_1 to list_2:

list_1 = ["apple", "banana", "cherry"]
list_2 = ["mango", "pineapple", "papaya"]

list_2.extend(list_1)     # extent --> list_2 = list_2 + list_1

print(list_1)
print(list_2)

['apple', 'banana', 'cherry']
['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

The elements will be added to the end of the list.

**Add Any Iterable**<br>
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [72]:
# Example
# Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [74]:
variable_1  = 'Digifine'
variable_1  = 'www.digifine.in'

print(variable_1)

www.digifine.in

### Remove List Items

**Remove Specified Item**<br>
The remove() method removes the specified item.

In [75]:
# Example
# Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**Remove Specified Index**<br>
The pop() method removes the specified index.

In [78]:
# Example
# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [81]:
# Example
# Remove the last item:

thislist = ["apple", "banana", "cherry", 'last']
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']

The del keyword also removes the specified index:

In [85]:
# Example
# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [87]:
# Example
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the List**<br>
The clear() method empties the list.

The list still remains, but it has no content.

In [88]:
# Example
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### Loop Lists

**Loop Through a List**<br>
You can loop through the list items by using a for loop:

In [90]:
# Example
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]

print(thislist[0])
print(thislist[1])
print(thislist[2])

apple
banana
cherry

In [98]:
# Example
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]

for x in ["apple", "banana", "cherry"]:
    print(x)     # 1st--> x = 'apple', 2nd--> x = 'banana', 3rd--> x = 'cherry'

apple
banana
cherry

**Loop**<br>Through the Index Numbers.<br>
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [112]:
# Example
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):    # range(3) = 0,1,2
    print(thislist[i])               # i=0, i=1, i=2

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

In [111]:
len(thislist)

3

In [110]:
# range function:

# Syntax:
# range(start, end, jump)

for i in range(0, 5):    # range(0, 5) = 0,1,2,3,4
    print(i)          # i=0, i=1, i=2, i=3, i=4
    
print('='*30)

for i in range(5):    # range(0, 5) = 0,1,2,3,4
    print(i)          # i=0, i=1, i=2, i=3, i=4
    
print('='*30)

for i in range(0,10,2):    
    print(i)          # i=0,i=2,i=4 .........

0
1
2
3
4
==============================
0
1
2
3
4
==============================
0
2
4
6
8

In [114]:
#####################    1 Jun ######################

# Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [14]:
# Example
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):      # while <condition>   # condition = i<3  # 0<3, 1<3, 2<3, 3<3
    print(thislist[i])        # i=0, i=1, i=2, i=3,
    i = i + 1
    
print('\n','program ends')

apple
banana
cherry

 program ends

In [12]:
thislist = ["apple", "banana", "cherry"]
print(    thislist[0]     )

apple

In [8]:
i = 5
print(i)
print('='*20)

i = i + 1  # i = 5+1 = 6 
print(i)

5
====================
6

In [3]:
len(thislist)

3

In [ ]:
Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
Example
A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

### List Comprehension

**List Comprehension**<br>
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [18]:
# Example:

# Based on a list of fruits, you want a new list, 
# containing only the fruits with the letter "a" in the name.

# Without list comprehension you will have to write a for statement with a conditional test inside:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []    # empty list

for fruit in fruits:
    if "a" in fruit:                # fruit = "mango"  # 5 cycle
        newlist.append(fruit)       # newlist = ["apple", "banana", "mango"]

print(newlist)

['apple', 'banana', 'mango']

In [16]:
for fruit in ["apple", "banana", "cherry", "kiwi", "mango"]:
    print(fruit)

apple
banana
cherry
kiwi
mango

With list comprehension you can do all that with only one line of code:

In [21]:
# Example

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if "a" in fruit]
# newlist = ['apple', "banana", 'mango']     # 5 cycle

print(newlist)

['apple', 'banana', 'mango']

**The Syntax**<br>
newlist = [expression for item in iterable if condition == True]<br>
The return value is a new list, leaving the old list unchanged.

**Condition**<br>
The condition is like a filter that only accepts the items that valuate to True.

In [24]:
# Example
# Only accept items that are not "apple":

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in ["apple", "banana", "cherry", "kiwi", "mango"] if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [23]:
# Example
# With no if statement:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Iterable<br>
The iterable can be any iterable object, like a list, tuple, set etc.

In [30]:
# Example
# You can use the range() function to create an iterable:

newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
for x in range(10):    # range(10) = range(0, 10) = [0,1,2,3,4,5,6,7,8,9]
    print(x)

0
1
2
3
4
5
6
7
8
9

Same example, but with a condition:

In [31]:
# Example
# Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [32]:
########################### 3 JUNE ######################################

**Expression**<br>
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
Example
Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like:

In [ ]:
Example
Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
Example
Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits]

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

### Sort Lists

**Sort List Alphanumerically**<br>
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
Example
Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
Example
Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

**Sort Descending**<br>
To sort descending, use the keyword argument reverse = True:

In [ ]:
Example
Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
Example
Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**Customize Sort Function**<br>
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
Example
Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

**Case Insensitive Sort** <br>
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
Example
Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
Example
Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

**Reverse Order**<br>
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
Example
Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

### Sort Lists

**Sort List Alphanumerically**<br>
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
Example
Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
Example
Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

**Sort Descending**<br>
To sort descending, use the keyword argument reverse = True:

In [ ]:
Example
Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
Example
Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

**Customize Sort Function**<br>
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
Example
Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

**Case Insensitive Sort**<br>
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
Example
Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
Example
Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

**Reverse Order**<br>
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
Example
Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

### Copy Lists

**Copy a List**<br>
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
Example
Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

Another way to make a copy is to use the built-in method list().

In [ ]:
Example
Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

### Join Lists

**Join Two Lists**<br>
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
Example
Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
Example
Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [ ]:
Example
Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

### List Methods

**List Methods**<br>
Python has a set of built-in methods that you can use on lists.<br>

|Method|	Description|
|-|-|
|append()|	Adds an element at the end of the list|
|clear()|	Removes all the elements from the list|
|copy()|	Returns a copy of the list|
|count()|	Returns the number of elements with the specified value|
|extend()|	Add the elements of a list (or any iterable), to the end of the current list|
|index()|	Returns the index of the first element with the specified value|
|insert()|	Adds an element at the specified position|
|pop()|	Removes the element at the specified position|
|remove()|	Removes the item with the specified value|
|reverse()|	Reverses the order of the list|
|sort()|	Sorts the list|

#### append()

**Definition and Usage**<br>
The append() method appends an element to the end of the list.

**Syntax**<br>
list.append(elmnt)<br>
Parameter Values

|Parameter|	Description|
|-|-|
|elmnt|	Required. An element of any type (string, number, object etc.)|

In [ ]:
Example
Add an element to the fruits list:

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [ ]:
Example
Add a list to a list:

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

#### clear()	

**Definition and Usage**<br>
The clear() method removes all the elements from a list.

**Syntax**<br>
list.clear()
Parameter Values
No parameters

In [ ]:
Example
Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

#### copy()

**Definition and Usage**<br>
The copy() method returns a copy of the specified list.

**Syntax**<br>
list.copy()
Parameter Values
No parameters

In [ ]:
Example
Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

#### count()

**Definition and Usage**<br>
The count() method returns the number of elements with the specified value.

**Syntax**<br>
list.count(value)
Parameter Values
Parameter	Description
value	Required. Any type (string, number, list, tuple, etc.). The value to search for.

In [ ]:
Example
Return the number of times the value "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

In [ ]:
Example
Return the number of times the value 9 appears int the list:

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

#### extend()

Definition and Usage
The extend() method adds the specified list elements (or any iterable) to the end of the current list.

Syntax
list.extend(iterable)
Parameter Values
Parameter	Description
iterable	Required. Any iterable (list, set, tuple, etc.)

In [ ]:
Example
Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [ ]:
Example
Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

#### index()

Definition and Usage
The index() method returns the position at the first occurrence of the specified value.

Syntax
list.index(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list, etc.). The element to search for

In [ ]:
Example
What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

In [ ]:
Example
What is the position of the value 32:

fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

Note: The index() method only returns the first occurrence of the value.

#### insert()

Definition and Usage
The insert() method inserts the specified value at the specified position.

Syntax
list.insert(pos, elmnt)
Parameter Values
Parameter	Description
pos	Required. A number specifying in which position to insert the value
elmnt	Required. An element of any type (string, number, object etc.)

In [ ]:
Example
Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

#### pop()

Definition and Usage
The pop() method removes the element at the specified position.

Syntax
list.pop(pos)
Parameter Values
Parameter	Description
pos	Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [ ]:
Example
Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

In [ ]:
Example
Return the removed element:

fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)

Note: The pop() method returns removed value.

In [ ]:
#### remove()

Definition and Usage
The remove() method removes the first occurrence of the element with the specified value.

Syntax
list.remove(elmnt)
Parameter Values
Parameter	Description
elmnt	Required. Any type (string, number, list etc.) The element you want to remove

In [ ]:
Example
Remove the "banana" element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

#### sort()

Definition and Usage
The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

Syntax
list.sort(reverse=True|False, key=myFunc)
Parameter Values
Parameter	Description
reverse	Optional. reverse=True will sort the list descending. Default is reverse=False
key	Optional. A function to specify the sorting criteria(s)

In [ ]:
Example
Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

In [ ]:
Example
Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

In [ ]:
Example
Sort the list by the length of the values:

# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

In [ ]:
Example
Sort a list of dictionaries based on the "year" value of the dictionaries:

# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [ ]:
Example
Sort the list by the length of the values and reversed:

# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)

### Tuples

mytuple = ("apple", "banana", "cherry")
Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
Example
Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [ ]:
Example
Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

Tuple Length
To determine how many items a tuple has, use the len() function:

In [ ]:
Example
Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
Example
One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

Tuple Items - Data Types
Tuple items can be of any data type:

In [ ]:
Example
String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain different data types:

In [ ]:
Example
A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

In [ ]:
Example
What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
Example
Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.

### Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
Example
Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

Note: The first item has index 0.

**Negative Indexing**
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
Example
Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
Example
Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [ ]:
Example
This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
Example
This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
Example
This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
Example
Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
### Update Tuples

Tuples are unchangeable, meaing that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
Example
Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

Add Items
Once a tuple is created, you cannot add items to it.

In [ ]:
Example
You cannot add items to a tuple:

thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error
print(thistuple)

Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
Example
Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

Remove Items
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
Example
Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Or you can delete the tuple completely:

In [ ]:
Example
The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

### Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
Example
Packing a tuple:

fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
Example
Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterix to collect the remaining values as a list.

Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
Example
Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
Example
Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

### Loop Tuples

You can loop through the tuple items by using a for loop.

In [ ]:
Example
Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
Example
Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
Example
Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

### Join Tuples

To join two or more tuples you can use the + operator:

In [ ]:
Example
Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
Example
Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

### Tuple Methods

Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
#### count()

Definition and Usage
The count() method returns the number of times a specified value appears in the tuple.

Syntax
tuple.count(value)
Parameter Values
Parameter    Description
value    Required. The item to search for

In [ ]:
Example
Return the number of times the value 5 appears in the tuple:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

#### index()

Definition and Usage
The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

Syntax
tuple.index(value)
Parameter Values
Parameter  Description
value   Required. The item to search for

In [ ]:
Example
Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

### Sets

myset = {"apple", "banana", "cherry"}

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [ ]:
Example
Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
Example
Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

Get the Length of a Set
To determine how many items a set has, use the len() method.

In [ ]:
Example
Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

Set Items - Data Types
Set items can be of any data type:

In [ ]:
Example
String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [ ]:
Example
A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [ ]:
Example
What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
Example
Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

### Access Set Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
Example
Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
Example
Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

Change Items
Once a set is created, you cannot change its items, but you can add new items.

### Add Set Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
Example
Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

Add Sets
To add items from another set into the current set, use the update() method.

In [ ]:
Example
Add elements from tropical and thisset into newset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

Add Any Iterable
The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
Example
Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

### Remove Set Items

To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
Example
Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
Example
Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
Example
Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
Example
The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
Example
The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset