<h1>
    <p style="color:blue; text-align:center; border:2px solid Tomato; font-size:180%;">
        <i>
Python
        </i>
    </p>
</h1>

Author: **Sahil Ansari**

# Introduction

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:
* data science, machine learning & AI.
* web development (server-side),
* software development,
* mathematics.

Advantages:
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

# Data Type

### Built-in Data Types

|Category|Type|
|--|--|
|Text |str|
|Numeric |int, float|
|Sequence|list, tuple, range|
|Mapping|dict|
|Set|set|
|Boolean(True/Flase)|bool|
 <br>

### Example

* str: <br>
x = "Hello World" <br> <br>

* int: <br>
x = 20 <br> <br>

* float: <br>
x = 20.5 <br> <br>

* list: <br>
x = ["apple", "banana", "cherry"] <br> <br>

* tuple: <br>
x = ("apple", "banana", "cherry") <br> <br>

* dict: <br> <br>
x = {"name" : "John", "age" : 36} <br> <br>

* set: <br>
x = {"apple", "banana", "cherry"} <br> <br>

* range: <br>
x = range(6) <br> <br>

* bool: <br>
x = True <br>

**Difference between: List, Tuple, Set, Dictionary**<br>

|Data Structure|Ordered|Mutable|Constructor|Example|
|--------------|-------|-------|-----------|-------|
|List|Yes|Yes|[ ] or list()|[5.7, 4, 'yes']|
|Tuple|Yes|No|( ) or tuple()|(5.7, 4, 'yes')|
|Set|No|Yes|{ } or set()|{5.7, 4, 'yes'}|
|Dictionary|No|Yes|{ } or dict()|{'Jan':75, 'Feb':100}|<br>

In [1]:
x = ["digifine", 20, 22.5]
print(x[-1])

22.5

In [2]:
x[-1] = 'abcd'
print(x)

['digifine', 20, 'abcd']

In [3]:
dict = {'key':'value', 'name':'sahil', 'age':18}

In [4]:
dict['name']

'sahil'

In [5]:
dict['name'] = 'Digifine'
print(dict)

{'key': 'value', 'name': 'Digifine', 'age': 18}

In [6]:
dict['name']  # here 'name' is KEY, 'sahil' is value

'Digifine'

In [7]:
dict['age'] # here 'age' is KEY, 18 is value

18

In [8]:
# casting
list1 = ["digifine", 20, 22.5, "digifine"]
set1 = set(list1)       # duplicate or repeated values are eliminated.
set1

{20, 22.5, 'digifine'}

### Getting the Data Type
You can get the data type of any object by using the type() function:

In [9]:
# Example:

x = 5
print(x)
type(x)

5

int

In [10]:
x = 'Sahil'

print(type(x))

<class 'str'>

In [11]:
x = 1    # int
y = 2.8  # float

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [12]:
# Integers:

x = 1   # int
y = 35656222554887711  # int
z = -3255522  # int (+/-)

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
# Float: (decimal point)

x = 1.10 #float
y = 1.0 #float
z = -35.59 #float(+/-)

print(type(x))

<class 'float'>

In [14]:
# Floats: (e,E)

x = 35e3 #35 * 10^3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Casting

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [15]:
# Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [16]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [17]:
type(int(2.8))

int

In [18]:
# Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [19]:
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [20]:
x = 5.5
type(x)

float

In [21]:
# method 1:
x = int(5.5)
type(x)

int

In [22]:
# method 2:
x = int(x)
type(x)

int

In [23]:
# Strings:

x = str("s1") # x will be 's1'  ////////// s1 is str
y = str(2)    # y will be '2'  ////////////  2 is int
z = str(3.0)  # z will be '3.0'    ////////////  3.0 is float

In [24]:
type(y)

str

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [25]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [26]:
a = "Hello"
print(a)

Hello

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [27]:
a = "Hello, World!"    # "0,1,2,3,4,5,.......-2 ,-1"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[12])
print('==================')
print(a[-1])
print(a[-2])

H
e
l
l
o
!
==================
!
d

In [28]:
print(a[13])

IndexError: string index out of range

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [29]:
for x in "banana":   # interation=cycle
  print(x)        # x='b',x='a',x='n',x='a',x='n',x='a'

b
a
n
a
n
a

In [30]:
x = 'banana'
print(x[-6])
print(x[-5])
print(x[-4])
print(x[-3])
print(x[-2])
print(x[-1])

b
a
n
a
n
a

### String Length
To get the length of a string, use the len() function.

In [31]:
a = "Hello, World!"
lenght = len(a)
print(lenght)

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [32]:
# Question: is "free" is present in a given txt
txt = "The best things in life are free!"
print("best" in txt)

True

In [33]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [34]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [35]:
# Use it in an if statement:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

# Slicing Strings

### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [36]:
# Example
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"    
#    01234567889
print(b[2:5])  # b[start:end] ==> start(included), end(not included)

llo

In [37]:
b[2:5]

'llo'

In [38]:
b[0:-2]

'Hello, Worl'

In [39]:
b[7:12]

'World'

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [40]:
# Example
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[0:5])
print(b[:5])

Hello
Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [41]:
# Example
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [42]:
################################# 20 May, 2021

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [43]:
# Example
# Get the characters:
# From: "o" in "World!" (position -5)
# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"   # "0,1,2,3,4,5,.......-2 ,-1"
#    01234567889
print(b[-5:-2])

orl

# Modify Strings

Python has a set of built-in methods that you can use on strings.

### Upper Case

In [44]:
# Example
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [45]:
# Example
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [46]:
# Example
# The strip() method removes any whitespace from the beginning or the end:

a = "             Hello, World!           "
print(a.strip()) # returns "Hello, World!"
print(a)         # # returns "             Hello, World!           "

Hello, World!
             Hello, World!

In [47]:
a = "             Hello, World!           "
a = a.strip()      # a = "Hello, World!"

print(a.strip()) # returns "Hello, World!"
print(a)         # returns "Hello, World!"

Hello, World!
Hello, World!

### Replace String

In [48]:
# Example
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))     # var_name.replace("original_value", "new_value")

Jello, World!

In [49]:
# Question: replace 'Cat' with 'Dog'

x = 'The Cat is on the mat.'
print(x)

x.replace('Cat', 'Dog') 
print(x)

x = x.replace('Cat', 'Dog') 
print(x)

The Cat is on the mat.
The Cat is on the mat.
The Dog is on the mat.

### Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [50]:
# Example
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

print(a.split("o"))

print(a.split())   # using whitespace as aseperation point.

['Hello', ' World!']
['Hell', ', W', 'rld!']
['Hello,', 'World!']

In [51]:
x = "With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. "
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

In [52]:
x = 'With the pandemic\'s prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. '
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

In [53]:
var = 1
1var = 1

SyntaxError: invalid syntax (<ipython-input-53-013afe99d949>, line 2)

In [54]:
var = 1
var1 = 1

In [55]:
x = "With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23. "
print(x,'\n')       # '\n' ==> new line

x = x.split()       # using whitespace as aseperation point.
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

['With', 'the', "pandemic's", 'prolonged', 'presence', 'bringing', 'in', 'new', 'challenges', 'to', 'professionals', 'as', 'work', 'patterns', 'have', 'changed,', 'Bombay', 'Bar', 'Association', 'tied', 'up', 'with', 'Kaivalyadham', 'to', 'bring', 'in', 'a', 'two-day', 'online', 'workshop', 'for', 'lawyers', 'on', 'May', '22-23.']

In [56]:
x = 'With the pandemic\'s prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.'
print(x,'\n')   

x = x.split('t')       # using 't' as aseperation point.
print(x)

With the pandemic's prolonged presence bringing in new challenges to professionals as work patterns have changed, Bombay Bar Association tied up with Kaivalyadham to bring in a two-day online workshop for lawyers on May 22-23.

['Wi', 'h ', "he pandemic's prolonged presence bringing in new challenges ", 'o professionals as work pa', '', 'erns have changed, Bombay Bar Associa', 'ion ', 'ied up wi', 'h Kaivalyadham ', 'o bring in a ', 'wo-day online workshop for lawyers on May 22-23.']

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [57]:
# Example
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [58]:
# Example
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [59]:
x = 'MODI'
c = x + 'is PM.'
print(c)

MODIis PM.

In [60]:
x = 'MODI'
c = x + ' is PM.'
print(c)

MODI is PM.

In [61]:
x = 'MODI'

print(x + "is PM.")

MODIis PM.

##################################################  **Date: 22 May**  #########################

# Format - Strings

In [62]:
# Example 
# we cannot combine strings and numbers like this:

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [63]:
# Example
# Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [64]:
# Example

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [65]:
# Example

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [66]:
# Example
# You will get an error if you use double quotes inside a string 
# that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-66-a723972664ce>, line 5)

To fix this problem, use the escape character \":

In [67]:
# Example
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [68]:
# Note: \n   ==>  New Line

# Example

txt = "Hello\nWorld!"
print(txt)

Hello
World!

# String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

### capitalize() ==> Converts the first character to upper case

In [69]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

txt2 = "36 is my age."
y = txt2.capitalize()
print (y)

Hello, and welcome to my world.
36 is my age.

### count() ==> Returns the number of times a specified value occurs in a string

In [70]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

**Syntax:**<br>
 string.count(value, start, end)
<br>

|Parameter| Description|
|--|--|
|value|	Required. A String. The string to value to search for|
|start|	Optional. An Integer. The position to start the search. Default is 0|
|end|	Optional. An Integer. The position to end the search. Default is the end of the string|<br>

In [71]:
# Example
# Search from position 10 to 24:

txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

### find() ==> Searches the string for a specified value and returns the position of where it was found

In [72]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

**Definition and Usage**<br>
The find() method finds the first occurrence of the specified value.<br>

The find() method returns -1 if the value is not found.<br>

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)<br>

**Syntax**<br>
string.find(value, start, end)<br>

|Parameter|	Description|
|-|-|
|value|	Required. The value to search for|
|start|	Optional. Where to start the search. Default is 0|
|end|	Optional. Where to end the search. Default is to the end of the string|

In [73]:
# Example
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [74]:
# Example
# Where in the text is the first occurrence of the letter "e" when you only search 
# between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [75]:
# Example
# If the value is not found, the find() method returns -1, 
# but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

### format() ==>Formats specified values in a string

In [76]:
# Example
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

**Definition and Usage** <br>
The format() method formats the specified value(s) and insert them inside the string's placeholder.<br>

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.<br>

The format() method returns the formatted string.<br>

**Syntax**<br>
string.format(value1, value2...)<br>

**The Placeholders**
The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

In [77]:
# Example
# Using different placeholder values:

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

### index() ==> Searches the string for a specified value and returns the position of where it was found

In [78]:
# Example
# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

**Definition and Usage** <br>
The index() method finds the first occurrence of the specified value. <br>

The index() method raises an exception if the value is not found. <br>

The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below) <br>

**Syntax** <br>
string.index(value, start, end) <br>

|Parameter|	Description|
|-|-|
|value|	Required. The value to search for|
|start|	Optional. Where to start the search. Default is 0|
|end|	Optional. Where to end the search. Default is to the end of the string| <br>

In [79]:
# Example
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
x = txt.index("e")
print(x)

1

In [80]:
# Example
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [81]:
# Example
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

### join() ==> Join all items in a tuple into a string.

In [82]:
# Example
# Join all items in a tuple into a string, using a hash character as separator:
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

John#Peter#Vicky

In [83]:
# Example
# Join all items in a dictionary into a string, using a the word "TEST" as separator:

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountry

### replace()

In [84]:
# Example
# Replace the word "bananas":
    
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

**Definition and Usage**<br>
The replace() method replaces a specified phrase with another specified phrase.<br>

Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.<br>

**Syntax**<br>
string.replace(oldvalue, newvalue, count)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|oldvalue|	Required. The string to search for|
|newvalue|	Required. The string to replace the old value with|
|count|	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences|

In [85]:
# Example
# Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [86]:
# Example
# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

### split()

In [87]:
#Example
# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

**Definition and Usage** <br>
The split() method splits a string into a list.<br>

You can specify the separator, default separator is any whitespace.<br>

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.<br>

**Syntax**<br>
string.split(separator, maxsplit)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|separator|	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator|
|maxsplit|	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"| <br>

In [88]:
# Example
# Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [89]:
# Example
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [90]:
# Example
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

### strip() ==> Remove spaces at the beginning and at the end of the string

In [91]:
# Example

txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

**Definition and Usage** <br>
The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)<br>

**Syntax**<br>
string.strip(characters)<br>
Parameter Values<br>

|Parameter|	Description|
|-|-|
|characters|	Optional. A set of characters to remove as leading/trailing characters|

In [92]:
# Example
# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

banana

# Booleans

Booleans represent one of two values: True or False.

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [93]:
# Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [94]:
# When you run a condition in an if statement, Python returns True or False:

# Example
# Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [95]:
# Evaluate Values and Variables
# The bool() function allows you to evaluate any value, and give you True or False in return,

# Example
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [96]:
# Example
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Operators
Operators are used to perform operations on variables and values.

In [97]:
# Example
# In the example below, we use the + operator to add together two values:

print(10 + 5)

15

Python divides the operators in the following groups:

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

**Python Arithmetic Operators** <br>
Arithmetic operators are used with numeric values to perform common mathematical operations:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/1.png?raw=true" alt="Qries" width="500" height="90">
   </body>

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/1.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [98]:
x = 5
y = 3

print(x + y)

8

In [99]:
x = 5
y = 3

print(x - y)

2

In [100]:
x = 5
y = 3

print(x * y)

15

In [101]:
x = 12
y = 3

print(x / y)

4.0

In [102]:
x = 5
y = 2

print(x % y)

1

In [103]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [104]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

**Python Assignment Operators** <br>
Assignment operators are used to assign values to variables:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/2.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [105]:
x = 5

print(x)

5

In [106]:
x = 5

x += 3

print(x)

8

In [107]:
x = 5

x -= 3

print(x)

2

In [108]:
x = 5

x *= 3

print(x)

15

In [109]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [110]:
x = 5

x%=3

print(x)

2

In [111]:
x = 5

x//=3

print(x)

1

In [112]:
x = 5

x **= 3

print(x)

125

In [113]:
x = 5

x &= 3

print(x)

1

In [114]:
x = 5

x |= 3

print(x)

7

In [115]:
x = 5

x ^= 3

print(x)

6

In [116]:
x = 5

x >>= 3

print(x)

0

In [117]:
x = 5

x <<= 3

print(x)

40

**Python Comparison Operators** <br>
Comparison operators are used to compare two values:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/3.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [118]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [119]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [120]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [121]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [122]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [123]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

**Python Logical Operators**<br>
Logical operators are used to combine conditional statements:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/4.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [124]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [125]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [126]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**Python Identity Operators**<br>
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/5.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [127]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": 
# this comparison returns True because x is equal to y

True
False
True

In [128]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": 
# this comparison returns False because x is equal to y

False
True
False

**Python Membership Operators**<br>
Membership operators are used to test if a sequence is presented in an object:

<img src="https://github.com/sahil-ansari-15/Python-Data-Science-Tutorial-by-Sahil-Ansari/blob/main/img/6.png?raw=true" alt="Qries" width="500" height="90">
   </body>

In [129]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [130]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True